<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="com.sii.rental.ui.prefs.RentalColorPrefPage"
            id="com.sii.rental.ui.page.color"
            name="Color for rental">
      </page>
   </extension>

</plugin>
